---
import Layout from "../layouts/Layout.astro";
import { Debug } from "astro/components";
import Feedback from "../components/Feedback";
import { createClient } from "@supabase/supabase-js";
import type { ChatCompletionRequestMessage } from "openai";

const { id } = Astro.params;

const supabase = createClient(
  "https://uyancztmzjlekojeproj.supabase.co",
  "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InV5YW5jenRtempsZWtvamVwcm9qIiwicm9sZSI6ImFub24iLCJpYXQiOjE2NjA4NDA1NzgsImV4cCI6MTk3NjQxNjU3OH0.yMvOYM0AM61v6MRsHUSgO0BPrQHTde2AiKzE0b4H4lo"
);

const { data, error } = await supabase
  .from("prompts")
  .select("*")
  .eq("id", id)
  .single();

let reqName = "ITSC 2214 Autograder Feedback";
let grade = "Not found";
let reasons = "";
if (data !== null) {
  reqName = data.requirement_name;
  grade = data.grade;
  reasons = data.reason;
}
---

<Layout title={reqName}>
  <main>
    <h1><span class="text-gradient">{reqName}</span></h1>
    <div class="instructions">
      <ul>
        <li><strong>Grade</strong>: {grade}</li>
        <li><strong>Reasons</strong>: {reasons}</li>
      </ul>
    </div>
    <Feedback id={id} client:load />
    <hr />
    <Debug {data} />
    <hr />
    <p class="instructions">
      The following component will show errors from the application, if any. It
      is meant to provide information to instructors, not students.
    </p>
    <Debug {error} />
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 60ch;
  }
  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .instructions {
    line-height: 1.6;
    margin: 1rem 0;
    border: 1px solid rgba(var(--accent), 25%);
    background-color: white;
    padding: 1rem;
    border-radius: 0.4rem;
  }
  .instructions code {
    font-size: 0.875em;
    font-weight: bold;
    background: rgba(var(--accent), 12%);
    color: rgb(var(--accent));
    border-radius: 4px;
    padding: 0.3em 0.45em;
  }
  .instructions strong {
    color: rgb(var(--accent));
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
  }
</style>
